<h2>Hakes</h2>
<section id="catalog">
  <div class="items">
    <a class="link" href="cake">
      <h2>Hakes</h2>
    </a>
    <a href="cake">
      <img src="https://i.pinimg.com/originals/e5/c7/73/e5c773a24777e97c9f5b2c82d6b95f00.png" >
    </a>
  </div>
  <div class="items">
    <a class="link" href="cake">
      <h2>Hakes</h2>
    </a>
    <a href="cake">
      <img src="https://i.pinimg.com/originals/e4/56/36/e456361a21fe357084607ee9ef49080e.jpg">
    </a>
  </div>
  <div class="items">
    <a class="link" href="cake">
      <h2>Hakes</h2>
    </a>
    <a class="link" href="cake">
      <img src="https://i.pinimg.com/originals/dd/11/e5/dd11e527cfba799e993f771da9027a5d.jpg">
    </a>
  </div>
</section>
