<h2>Hakes</h2>
<section>
  <div id="catalog">
    <% for i in (0..2) do %>
    <div class="bee">
      <h2><%= @cakes[i].name %></h2>
      <img src="<%= @cakes[i].img %>">
      <h3><%= @cakes[i].description %></h3>
      <p><%= @cakes[i].price %></p>
    </div>
    <% end %>
  </div>
</section>
