<h1>Welcome to Restock</h1>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#Cake">Cake</a></li>
  <li><a href="#Cookie">Cookie</a></li>
  <li><a href="#Muffin">Muffin</a></li>
  <a href = "https://www.facebook.com/"><img class="fb"src="https://simply-communicate.com/wp-content/uploads/2019/03/facebook-2661207_960_720.jpg"></a>
  <a href = "https://www.instagram.com/"><img class="fb"src="https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=300"></a>
  <a href = "https://twitter.com/"><img class="fb"src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png"></a>
</ul>
<section id="catalog">
  <div class="items">
    <a class="link" href="cakes">
      <h2>Hakes</h2>
    </a>
    <a href="cakes">
      <img src="https://i.pinimg.com/originals/e5/c7/73/e5c773a24777e97c9f5b2c82d6b95f00.png" >
    </a>
  </div>
  <div class="items">
    <a class="link" href="cookies">
      <h2>Hookies</h2>
    </a>
    <a href="cookies">
      <img src="https://dqzrr9k4bjpzk.cloudfront.net/images/12675289/811267455.jpg">
    </a>
  </div>
  <div class="items">
    <a class="link" href="muffins">
      <h2>Regular Muffins</h2>
    </a>
    <a class="link" href="muffins">
      <img src="https://thebusybaker.ca/wp-content/uploads/2018/08/best-ever-greek-yogurt-chocolate-chip-muffins-fbig3.jpg">
    </a>
  </div>
</section>




<footer><p>Welcome to Restock where all the hypebeasts should shop! Our cakes are 100 percent natural ingredents. This is the hottest and
most hype store in NYC. Restock is a modern bakery where we sell the best and hype pastries. We take influences from Jordan and Kanye, the most
influencial individuals that ever touched the shoe culture!</p></footer>
