<h1>Welcome to Restock</h1>

<section id="catalog">
  <div class="items">
    <a class="link" href="cakes">
      <h2>Hakes</h2>
    </a>
    <a href="cakes">
      <img src="https://i.pinimg.com/originals/e5/c7/73/e5c773a24777e97c9f5b2c82d6b95f00.png" >
    </a>
  </div>
  <div class="items">
    <a class="link" href="cookies">
      <h2>Hookies</h2>
    </a>
    <a href="cookies">
      <img src="https://dqzrr9k4bjpzk.cloudfront.net/images/12675289/811267455.jpg">
    </a>
  </div>
  <div class="items">
    <a class="link" href="muffins">
      <h2>Hoofins</h2>
    </a>
    <a class="link" href="muffins">
      <img src="https://thebusybaker.ca/wp-content/uploads/2018/08/best-ever-greek-yogurt-chocolate-chip-muffins-fbig3.jpg">
    </a>
  </div>
</section>

<footer><p>Welcome to Restock where all the hypebeasts should shop! Our cakes are 100 percent natural ingredents. This is the hottest and
most hype store in NYC. Restock is a modern bakery where we sell the best and hype pastries. We take influences from Jordan and Kanye, the most
influencial individuals that ever touched the shoe culture!</p></footer>


<footer>
  <form action="/thanks" method="get">
    <label>Enter your email to receive our catalog</label><br>
    <input id="in" type="text" name="email" placeholder="Enter your email">
    <input type="submit" value="Submit">
  </form>
</footer>
