<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
<title>Big Wangs Bakery</title>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#Cake">Cake</a></li>
  <li><a href="#Cookie">Cookie</a></li>
  <li><a href="#Muffin">Muffin</a></li>
  <a href = "https://www.facebook.com/"><img class="fb"src="https://simply-communicate.com/wp-content/uploads/2019/03/facebook-2661207_960_720.jpg"></a>
  <a href = "https://www.instagram.com/"><img class="fb"src="https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=300"></a>
  <a href = "https://twitter.com/"><img class="fb"src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png"></a>
</ul>
  </head>
  <body>
    <h1>Big Wangs Bakery</h1>

       <%=yield%>
  </body>
</html>
